<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xavbot">
  <xacro:arg name="prefix" default="" />

  <!-- Import Geometry -->
  <xacro:include filename="$(find xavbot_description)/urdf/xavbot.platform.xacro" />
  <xacro:xavbot_platform prefix="$(arg prefix)" mesh_dir="package://xavbot_description/meshes" />
  <xacro:include filename="$(find xavbot_description)/urdf/xavbot.arm.xacro" />
  <xacro:xavbot_arm prefix="$(arg prefix)" mesh_dir="package://xavbot_description/meshes" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find xavbot_description)/urdf/xavbot.materials.xacro" />

  <!-- Import xavbot ros2_control description -->
  <xacro:include filename="$(find xavbot_description)/urdf/xavbot.ros2_control.xacro" />
  <xacro:xavbot_ros2_control name="xavbot" prefix="$(arg prefix)" />

</robot>