<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="xavbot_platform_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>xavbot_hardware/XavBotHardware</plugin>
        <param name="fl_name">front_left_wheel_joint</param>
        <param name="fr_name">front_right_wheel_joint</param>
        <param name="rl_name">rear_left_wheel_joint</param>
        <param name="rr_name">rear_right_wheel_joint</param>
        <param name="fl_port">2</param>
        <param name="fr_port">3</param>
        <param name="rl_port">1</param>
        <param name="rr_port">0</param>
        <param name="fl_direction">-1</param>
        <param name="fr_direction">1</param>
        <param name="rl_direction">1</param>
        <param name="rr_direction">-1</param>
        <param name="device">/dev/ttyACM0</param>ij
        <param name="timeout_ms">100</param>
      </hardware>
      <joint name="${prefix}front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}rear_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}rear_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>