<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xavbot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="arm" default="true" />

  <!-- Import Geometry -->
  <xacro:include filename="$(find xavbot_description)/urdf/xavbot.platform.xacro" />
  <xacro:xavbot_platform prefix="$(arg prefix)" mesh_dir="package://xavbot_description/meshes" />

  <!-- Import xavbot ros2_control description -->
  <xacro:include filename="$(find xavbot_description)/urdf/xavbot.platform.ros2_control.xacro" />
  <xacro:xavbot_platform_control name="xavbot" prefix="$(arg prefix)" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find xavbot_description)/urdf/xavbot.materials.xacro" />

  <!-- Import xavbot_arm -->
  <xacro:if value="$(arg arm)">

    <!-- Import Geometry -->
    <xacro:include filename="$(find xavbot_description)/urdf/xavbot.arm.xacro" />
    <xacro:xavbot_arm prefix="$(arg prefix)" mesh_dir="package://xavbot_description/meshes" standalone="false" />

    <!-- Import xavbot ros2_control description -->
    <xacro:include filename="$(find xavbot_description)/urdf/xavbot.arm.ros2_control.xacro" />
    <xacro:xavbot_arm_control name="xavbot" prefix="$(arg prefix)" />

  </xacro:if>

</robot>